/* Initial settings */
*{
    margin: 0;
    padding: 0;
}

body{
  background-color: whitesmoke;
}

img {
  width: 100%;
}

/* Text styles */
h1, h2, h3 {
  font-family: "Arial Black", Gadget, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 1.3rem;
}

.grey-text{
  color: black;
  opacity: 0.75;
}

.white-text{
  color: rgba(245, 245, 245, 0.907);
}


/* Header */

.header__h1{
  text-align: center;
}


/* Hey guys  */

.hey-guys{
  display: flex;
  justify-content: center;

  margin-left: 5%;
  margin-right: 5%;

  font-size: 1.2rem;
  text-align: right;
}


/* Youtubability */

.youtubability{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2vh;
}

.youtubability-continue{
  display: flex;
  flex-direction: row;
  padding: 5%
}

.youtubability-continue__article{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.youtubability-ending{
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}


/* Tip of the week */
.tip-of-the-week{
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tip-of-the-week__img{
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  max-height: 100%;
  z-index: -1;
}

.tip-of-the-week__article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.tip-of-the-week__p{
  text-align: center;
}


/* Video */
.video{
  display: flex;
  justify-content: center;
}

.grey-background{
  background-color: rgba(0, 0, 0, 0.837);
}


/* Footer */

.footer{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livestream{
  display: flex;
  justify-content: space-around;
  height: 40vh;
}

.livestream__article__left-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.livestream__article__right-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-style: italic;
}


/* Breakpoints */

/*Phone view*/
@media (max-width: 749px){
  .img-phone-1, .img-phone-2{
    display: none;
  }

  .youtubability__h2{
    text-align: center;
  }
  .youtubability__img{
    opacity: 0.5;
    width: 5%;
  }
  video{
    width: 300px;
  }
  .livestream{
    height: 30vh;
  }
  .tip-of-the-week{
    height: 50vh;
  }
}

/* Laptop/tablet */
@media (min-width: 750px){
  .youtubability{
    display: flex;
    padding: 5%;
  }

  .youtubability{
    height: 110vh;
    /* margin-top: vh; */
    /* margin-bottom: 2vh; */
  }

  .youtubability__article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 55%;
  }

  .youtubability{
    display: flex;
    justify-content: space-between;
  }
  html {
    font-size: 1.3rem;
  }
}


/* Large screens */
@media (min-width: 1200px) {
  html{
    font-size: 1.7rem;
  }
  video{
    width: 800px;
  }
  .tip-of-the-week{
    padding-bottom: 7%;
  }
}